<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35998070244-4rchs1pkevf2q22o70c99fa7o6rilk8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35998070244-4rchs1pkevf2q22o70c99fa7o6rilk8a</string>
	<key>API_KEY</key>
	<string>AIzaSyB1e7OCU9gEQiK7P0tzcNRdY-j2cfNK5aI</string>
	<key>GCM_SENDER_ID</key>
	<string>35998070244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-firstprj.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-2c20f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-2c20f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35998070244:ios:0354948d55ee7ec61703f1</string>
</dict>
</plist>